# Программирование
## Основные команды Python

In [1]:
import pandas as pd

In [12]:
#0 - ключевые слова, 1 - операторы и функции, 2 - формат чисел, 3 - битовые операторы целых 
# 4 - math, 5 - экранирование, 6 - STRING, 7 - .format{}, 8 -LIST, 9 - множества, 10 - DICT, 11-итераторы
df = pd.read_excel('Python.xlsx', 6)

In [18]:
df.head()

,Синтаксис,Описание
0,s.capitalize(),Возвращает копию строки s с первым символом в ...
1,"s.center(width, char)","Возвращает копию строки s, отцентрированную в ..."
2,"s.count(t, start, end)",Возвращает число вхождений строки t в строку s...
3,"s.encode( encoding, err)","Возвращает объект типа bytes, представляющий с..."
4,"s.endswith(x, start, end)","Возвращает True, если строка s (или срез строк..."

### Пример {} .format() и enumerate()

In [17]:
L1 = ['a','e','i','o','u']
for i in enumerate(L1):
    print ('{} th letter in list is {}'.format(i[0],i[1]))

0 th letter in list is a
1 th letter in list is e
2 th letter in list is i
3 th letter in list is o
4 th letter in list is u

## Функции

In [19]:
def fact (n):
    if n == 1:
        return n
    else:
        return n * fact(n-1)
fact(6)

720

In [24]:
#Hanoi Tower
def printMove (fr, to):
    print('Move from '+str(fr)+' to '+str(to))
def towers (n, fr, to, spare):
    if n == 1:
        printMove(fr,to)
    else:
        towers(n-1, fr, spare, to)
        towers(1, fr, to, spare)
        towers(n-1, spare, to, fr)
towers(4,'P1','P2','P3')

Move from P1 to P3
Move from P1 to P2
Move from P3 to P2
Move from P1 to P3
Move from P2 to P1
Move from P2 to P3
Move from P1 to P3
Move from P1 to P2
Move from P3 to P2
Move from P3 to P1
Move from P2 to P1
Move from P3 to P2
Move from P1 to P3
Move from P1 to P2
Move from P3 to P2

In [32]:
#if n ==0 or n==1 return 1 else return fib(n-1)+fib(n-2)
def fib (n,d):
    if n in d:
        return d[n]
    else:
        ans = fib(n-1, d)+fib(n-2, d)
        d[n] = ans
        return ans
d = {1:1, 2:2}
fib(12,d)

233

In [30]:
def isPalindrome(s):
    def toChars (s):
        s = s.lower()
        ans = ''
        for c in s:
            if c.isalpha():
                ans += c
        return ans

    def isPal(s):
        if len(s)<=1:
            return True
        else:
            return s[0] == s[-1] and isPal(s[1:-1])
    return isPal(toChars(s)) 
isPalindrome('here er eh')

True